<div class="m-plat-info">
    <div class="m-titre-plat">
        <span class="m-nom-plat m-photo-active">{{ nom }}</span>
    </div>
    <span class="m-separateur" style="bottom: 3px"></span>
    <div class="m-prix">
        <div class="m-quantite">
            <span>{{ prix }}€</span>
        </div>
    </div>
</div>