{% extends 'base.html.twig' %}

{% block body %}
    <div class="parallax"></div>
    <div class="container-full">
        <h1 class="text-center">Cartes et menus</h1>
        <div class="col-md-6">
            <h2 class="text-center">Cartes</h2>
            {% for categorie in categories %}
            <div class="m-categorie">
                <div class="m-title-categorie">
                    <h3 class="text-center">{{ categorie.nom }}</h3>
                </div>
                {% for plat in categorie.plats %}
                    <div class="m-plat-info">
                        <div class="m-titre-plat">
                            <span class="m-nom-plat m-photo-active">{{ plat.nom }}</span>
                        </div>
                        <span class="m-separateur"></span>
                        <div class="m-prix">
                            <div class="m-quantite">
                                <span>{{ plat.prix }}€</span>
                            </div>
                        </div>
                    </div>
                    <p class="m-description-plat">{{ plat.description }}</p>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Menus</h2>
        </div>
    </div>
    <a href="#" class="btt"><i class="fa fa-chevron-up"></i></a>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var scrolled = 400;
        $(window).scroll(function () {
            if ($(window).scrollTop() > scrolled) {
                $('a.btt').fadeIn('slow');
            } else {
                $('a.btt').fadeOut('slow');
            }
        });
    </script>

    <script>
        $('a.btt').click(function () {
            $('html, body').animate({scrollTop: 0}, 700);
            return false;
        });
    </script>
{% endblock %}