{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-parallax parallax-menu-noel" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
    <section class="container title-container">
        <div class="title-page">
            <h2> Menu de Noël 2019</h2>
        </div>
    </section>
    <div></div>
    <div class="container">
        <h1 class="titre-noel text-center">Composez votre menu</h1>

        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Petits fours chauds (5 personnes)', 'prix': '2,50'} %}

        <h2 class="sous-titre-noel text-center">Entrées froides</h2>

        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Norvégienne', 'prix': '3,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Bavarois saumon asperge', 'prix': '3,80'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Médaillon de foie gras', 'prix': '6,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Assiette de la mer', 'prix': '3,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Galantine de gibier', 'prix': '3,00'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Tartare de saumon', 'prix': '3,80'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Coquille de saumon ou thon', 'prix': '3,00'} %}

        <h2 class="sous-titre-noel text-center">Entrées chaudes</h2>

        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Coquille Saint-Jacques', 'prix': '3,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Cassolette d\'escargots', 'prix': '3,00'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Bourse aux fruits de mer', 'prix': '2,90'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Feuilleté de ris de veau', 'prix': '3,80'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Bouché à la reine', 'prix': '2,80'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Aumonière pomme foie gras', 'prix': '4,50'} %}

        <h2 class="sous-titre-noel text-center">Plats (viandes)</h2>

        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Pavé de biche sauce au poivre', 'prix': '8,00'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Joues de porc confites au cidre et miel', 'prix': '7,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Magret de canard sauce au poivre', 'prix': '6,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Poulet farce fine aux girolles', 'prix': '7,00'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Osso buco de veau sauce gremolata', 'prix': '7,50'} %}

        <div class="infos-menu-noel text-center">
            <p>Les plats de viandes sont accompagnés de gratin dauphinois et tomate provençale</p>
        </div>

        <h2 class="sous-titre-noel text-center">Plats (poissons)</h2>


        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Médaillon de lotte sauce chorizo', 'prix': '8,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Dos de cabillaud sauce whisky', 'prix': '7,50'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Filet de sandre sauce cocktail', 'prix': '8,00'} %}

        <div class="infos-menu-noel text-center">
            <p>Les plats de poissons sont accompagnés de riz blanc et ratatouille</p>
        </div>


        <h2 class="sous-titre-noel text-center">Desserts</h2>


        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Fondant aux deux chocolats', 'prix': '2,80'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Charlotte aux poires', 'prix': '3,00'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Aumonière normande', 'prix': '2,80'} %}
        {% include 'menu-noel-ligne.html.twig' with {'nom': 'Entremet trois chocolats', 'prix': '3,00'} %}


        <div class="infos-menu-noel text-center mt-5">
            <p>Passez commande avant le 21 décembre pour Noël</p>
            <p>Et avant le 28 décembre pour le jour de l'an</p>
        </div>


        <h2 class="sous-titre-noel text-center">Passez de bonnes fêtes</h2>

    </div>
    {#<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="m-categorie">
                    <div class="m-title-categorie">
                        <h4 class="text-center">Menu Enfant 10€00 </h4>
                    </div>
                    <div class="choix-menu-noel premier-element">
                        <div class="plat-menu">
                            Petits fours chauds
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Poulet à la crème &amp; purée maison
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Mini gâteau 3 pièces et surprise
                        </div>
                    </div>
                </div>
                <div class="m-categorie">
                    <div class="m-title-categorie">
                        <h4 class="text-center">Menu 18€00 </h4>
                    </div>
                    <div class="choix-menu-noel premier-element">
                        <div class="plat-menu">
                            Petits fours chauds (5 pièces)
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Tartare de saumon sur lit de mâche
                            </br><span>OU</span></br>
                            Coquille Saint Jacques
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Filet de sandre sauce homard Riz et flan de légumes
                            </br><span>OU</span></br>
                            Souris d'agneau confites Gratin dauphinois et tomate provençale
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Charlotte aux poires
                            </br><span>OU</span></br>
                            Entremet 3 chocolats
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            <i>Supplément 3€ Salade fromages (chaud ou froid) et petit pain</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="m-categorie">
                    <div class="m-title-categorie">
                        <h4 class="text-center">Menu 22€00 </h4>
                    </div>
                    <div class="choix-menu-noel premier-element">
                        <div class="plat-menu">
                            Petits fours chauds (5 pièces)
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Médaillon de foie gras (accompagné de son pain d'épice et de sa compote)
                            </br><span>OU</span></br>
                            Feuilleté de ris de veau
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Joues de porc confites au cidre et miel avec son gratin dauphinois et tomate provençale
                            </br><span>OU</span></br>
                            Médaillon de lotte sauce chorizo riz et flan de légumes
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Galet au chocolat sur son craquant
                            </br><span>OU</span></br>
                            Fondant caramel beurre salé
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            <i>(Pour 6 menus, 1 bouteilles de coteaux du layon offerte)</i>
                        </div>
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            <i>Supplément 3€ Salade fromages (chaud ou froid) et petit pain</i>
                        </div>
                    </div>
                </div>
                <div class="m-categorie">
                    <div class="m-title-categorie">
                        <h4 class="text-center">Menu 15€00 </h4>
                    </div>
                    <div class="choix-menu-noel premier-element">
                        <div class="plat-menu">
                            Petits Fours chauds (5 pièces)
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Norvégienne
                            </br><span>OU</span></br>
                            Cassolette d'escargots
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Magret de canard sauce au poivre gratin dauphinois et tomate provençale
                            </br><span>OU</span></br>
                            Dos de cabillaud sauce whisky Riz et flan de légumes
                        </div>
                    </div>
                    <div class="separation">
                        &ndash;
                    </div>
                    <div class="choix-menu-noel">
                        <div class="plat-menu">
                            Fondant aux deux chocolats
                            </br><span>OU</span></br>
                            Tiramisu
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
{% endblock%}

{% block javascripts %}<script src="{{ asset('js/jquery.paroller.min.js') }}"></script>
    <script>
        $('.jumbotron-parallax').paroller();
    </script>

    <script>$('.jumbotron').carousel()</script>
{% endblock %}