:root{
    --principal-color: #9b1212;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: blue !important;;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
    font-family: Pacifico;
    font-size: 30px;
}

.navbar-light .navbar-brand:hover {
    color: #FFFFFF;
    font-family: Pacifico;
    font-size: 30px;
}

.navbar-toggle.collapsed .icon-bar {
    color: green;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.container{
    margin-top: 50px;
}

#map {
    height: 400px;
    width: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}
.contact-size{
    font-size: 25px;
}


.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Pacifico', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

ul {
    list-style-type: none;
}

.container-full {
    margin-top: 50px;
    width: 100%;
}

.m-carte .m-menu .plat {
    padding: 0 15px;
}

.m-plat-info {
    display: flex;
    margin: 20px 0 5px 0;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.titre-plat {
    background-color: #FFF;
    z-index: 15;
    padding-right: 5px;
}

.m-plat-info .m-titre-plat .m-nom-plat {
    font-size: 14px;
    font-weight: 700;
    background-color: #FFF;
    z-index: 10;
}

.m-plat-info .m-separateur {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    background: #DDD;
}

.m-plat-info .m-prix {
    display: flex;
    background-color: #FFF;
    z-index: 10;
    padding-left: 5px;
}

.m-plat-info .m-prix .m-quantite {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}
.m-plat-info .m-prix .m-quantite span:last-child {
    font-size: 16px;
    font-weight: 700;
    color: var(--principal-color);
}

.m-description-plat {
    text-align: left;
    font-size: 12px;
    color: #9B9B9B;
    font-style: italic;
    margin: 0;
}

.m-title-categorie {
    padding: 5px 15px 15px 15px;
    position: relative;
}

.m-title-categorie:after {
    content: '';
    height: 2px;
    width: 10px;
    background-color: #979797;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.m-categorie {
    box-shadow: inset 0 7px 10px -9px var(--principal-color);
    padding: 15px 5px 25px 5px;
    border: 2px solid #F4F4F4;
}
a.btt {
    display: none;
    position: fixed;
    z-index: 999;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    background: #ebebeb;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(23, 25, 25, 0.2);
}

a.btt .fa {
    width: 100%;
    height: 100%;
    display: table;
}

a.btt .fa-chevron-up:before {
    color: black;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

a.btt:hover{
    transform: translatey(-10%);
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: 600px;
}

.content-section{
    margin-top: 100px;
}


@media (min-width: 768px) {
    .onl_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}
.onl_login .onl_authTitle {
    text-align: center;
    line-height: 300%;
}

.onl_login .onl_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.onl_login .onl_socialButtons a:hover {
    color: white;
    opacity:1;
}
.onl_login .onl_socialButtons .onl_btn-facebook {background: #3b5998;border-color:#172d5e}
.onl_login .onl_socialButtons .onl_btn-twitter {background: #00aced;border-color:#043d52}
.onl_login .onl_socialButtons .onl_btn-google-plus {background: #c32f10;border-color:#6b1301}


.prix-menu{
    color: var(--principal-color);
}

.choix-menu{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #FFF;
    z-index: 10;
}

.choix-menu .plat-menu span{
    color: var(--principal-color);
}

.map-contact{
    height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.m-quantite span:first-child {
    color: #9B9B9B;
    font-size: 10px;
}

.slider-for{
    width: 500px;
    height: 250px;
    margin: 30px auto 1px;
    overflow: hidden;
}
img{
    width: 100%;
    min-height: 100%;
}
.slider-nav{
    width: 500px;
    height: 85px;
    margin: auto;
}
.slider-nav .slick-track{
    height: 85px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}

.title-container {
    position: relative;
    z-index: 300;
    text-align: center;
    margin-top: -35px;
    margin-bottom: 60px;
}

.title-container .title-page {
    position: relative;
    background-color: #2B2B2B;
    padding: 18px 25px;
    display: inline-block;
    color: white;
}

.title-container .title-page:after {
    content: '';
    border: 3px solid var(--principal-color);
    position: absolute;
    top: 7px;
    left: 8px;
    width: 100%;
    height: 100%;
}

.m-menu {
    margin-top: 37px;
    border: 2px solid #F4F4F4;
    border-top-color: var(--principal-color);
    overflow: hidden;
    position: relative;
}

.couleur-principale{
    color: var(--principal-color);
}

.menu-selectionne{
    color: var(--principal-color) !important;
    text-decoration: underline !important;
    font-weight: bold;
}

a:hover{
    cursor: pointer;
}

.border-perso-color{
    border-color: var(--principal-color) !important;
}

.jumbotron-parallax{
    background-size: cover !important;
    height: 500px;
}

.parallax-index-1{
    background: url("../images/devanture-coupee.jpg") no-repeat center;
    margin-top: 50px;
}

.parallax-index-2{
    background: url("../images/terasse.jpg") no-repeat center;
}

.parallax-index-3{
    background: url("../images/arrière_salle.jpg") no-repeat center;
}

.parallax-carte-vins{
    background: url("../images/vin.jpg") no-repeat center;
}

.parallax-menus{
    background: url("../images/carte-menus.jpg") no-repeat center;
}

.parallax-buffet-froid{
    background: url("../images/buffet-froid.jpg") no-repeat center;
}

.parallax-menu-noel{
    background: url("../images/menus-noel.jpg") no-repeat center;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 600px) {
    .navbar-light .navbar-brand {
        color: #FFFFFF;
        font-family: Pacifico;
        font-size: 15px;
    }
}

.separation{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--principal-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.premier-element{
    padding-top: 15px;
}

.choix-menu-noel{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #FFF;
    z-index: 10;
}

.choix-menu-noel .plat-menu span{
    color: var(--principal-color);
}